.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}